# Desafio 1

In [1]:
import pandas as pd
import numpy as np
x=[1,2,3,4,5]

def media(x):
    return sum(x)/len(x)

def varianza(x):
    y=[(n-media(x))**2 for n in x]
    return sum(y)/len(x)

In [2]:
media(x)

3.0

In [3]:
varianza(x)

2.0

# Desafio 2

## Media

In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("worldcup2014.csv")
df.groupby(["continent"]).agg(favor=("goles_favor","mean"), contra=("goles_contra", "mean"), puntos= ("puntos", "mean"))

                 favor    contra    puntos
continent
africa        3.600000  5.600000  2.400000
asia          2.250000  6.250000  0.750000
europe        4.769231  4.000000  4.692308
northamerica  3.250000  3.500000  4.500000
southamerica  5.666667  2.833333  6.833333

## Varianza

In [5]:
df.groupby(["continent"]).agg(favor=("goles_favor","var"), contra=("goles_contra", "var"), puntos= ("puntos", "var"))

                 favor     contra     puntos
continent
africa        3.300000   4.800000   3.300000
asia          0.916667   4.250000   0.250000
europe        6.858974   3.833333   6.897436
northamerica  2.250000  11.000000  11.000000
southamerica  4.666667   0.566667   3.766667

## Desviaci√≥n estandar

In [6]:
df.groupby(["continent"]).agg(favor=("goles_favor","std"), contra=("goles_contra", "std"), puntos= ("puntos", "std"))

                 favor    contra    puntos
continent
africa        1.816590  2.190890  1.816590
asia          0.957427  2.061553  0.500000
europe        2.618964  1.957890  2.626297
northamerica  1.500000  3.316625  3.316625
southamerica  2.160247  0.752773  1.940790

## ¬øEn qu√© continente se observa una mayor cantidad de goles a favor?
### southamerica

## ¬øEn qu√© continente se observa una mayor cantidad de goles en contra?
### asia

## ¬øEn qu√© continente se observa una mayor cantidad de puntos en promedio?
### southamerica

# Desafio 3

In [15]:
def generate_pet(x):
    pet=[]
    for i in range(x):
        pet.append(np.random.choice(['Gato', 'Perro']))
    return pet

In [62]:
x=20
pet=generate_pet(x)
mediaperro=pet.count("Perro")/x
mediagato=pet.count("Gato")/x

In [63]:
pet

['Gato',
 'Gato',
 'Perro',
 'Gato',
 'Perro',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Perro',
 'Gato',
 'Perro',
 'Gato',
 'Gato']

### Probabilidad de que sea perro

In [64]:
mediaperro

0.2

### Probabilidad de que sea gato

In [65]:
mediagato

0.8

In [66]:
np.random.seed(2)
petseed=generate_pet(x)

In [73]:
petseed

['Gato',
 'Perro',
 'Perro',
 'Gato',
 'Gato',
 'Perro',
 'Gato',
 'Perro',
 'Gato',
 'Perro',
 'Gato',
 'Perro',
 'Perro',
 'Perro',
 'Perro',
 'Perro',
 'Perro',
 'Perro',
 'Gato',
 'Gato']

In [55]:
petseed.count("Perro")

12

### Al usar la seed se tiene la misma lista en cada ejecucion

# Desafio 4

In [100]:
def simulate_pets_prob(n):
    np.random.seed(1)
    al_menos_un_perro=0
    old_pet_perro=0
    dos_perros=0
    for i in range(x):
        young_pet=np.random.choice(['Gato', 'Perro'])
        old_pet=np.random.choice(['Gato', 'Perro'])
        if young_pet=="Perro" or old_pet=="Perro":
            al_menos_un_perro+=1
        if old_pet=="Perro":
            old_pet_perro+=1
        if young_pet=="Perro" and old_pet=="Perro":
            dos_perros+=1
    print("Probabilidad de que sale al menos un perro: ",al_menos_un_perro/x)
    print("Probabilidad de que sale un perro viejo: ",old_pet_perro/x)
    print("Probabilidad de que salen dos perros: ",dos_perros/x)

In [101]:
simulate_pets_prob(10)

Probabilidad de que sale al menos un perro:  0.7
Probabilidad de que sale un perro viejo:  0.45
Probabilidad de que salen dos perros:  0.25

## ¬øCu√°l es el menos probable? 
### Que salgan dos perros

## ¬øCu√°l es el m√°s probable?
### Que salga al menos un perro

## ¬øPor qu√©?
### Dado que en la simulaci√≥n se repiti√≥ menos veces el caso de que salgan dos perros y se repiti√≥ m√°s veces el caso que sale al menos un perro