# Desafio 1

In [3]:
print("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

# Desafio 2

In [30]:
name=input("Ingrese nombre: ")
edad=input("Ingrese edad: ")
actividades=list()
for i in range(3):
    actividades.append(input("Ingrese actividades favoritas: "))
mascotas=input("Tiene mascotas? ")

Ingrese nombre: gina
Ingrese edad: 24
Ingrese actividades favoritas: comer
Ingrese actividades favoritas: dormir
Ingrese actividades favoritas: beber
Tiene mascotas? si

# Desafio 3

In [39]:
print(actividades[1])
print(type(name))
print(type(edad))
print(type(actividades))
print(type(mascotas))
print("Me llamo "+name+" tengo "+edad+" me gusta "+actividades[0]+", "+actividades[1]+" y "+actividades[2]+" y "+mascotas+" tengo mascotas")

dormir
<class 'str'>
<class 'str'>
<class 'list'>
<class 'str'>
Me llamo gina tengo 24 me gusta comer, dormir y beber y si tengo mascotas

# Desafio 4

### Error 1

In [25]:
print('Estaba la pájara pinta sentada en el verde limón)

SyntaxError: EOL while scanning string literal (<ipython-input-25-d2445c7a277d>, line 1)

#### Falta una comilla al final de la oración

In [26]:
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

### Error 2

In [28]:
print('Mi nombre es' name 'y tengo' edad, 'años')

SyntaxError: invalid syntax (<ipython-input-28-d4c6d8abefec>, line 1)

#### Faltan los + en medio de cada string y espacios

In [34]:
print('Mi nombre es '+name+' y tengo '+edad+' años')

Mi nombre es gina y tengo 24 años

### Error 3

In [40]:
import padnas as pd
import nunnpy as np

ModuleNotFoundError: No module named 'padnas'

#### Está mal escrito pandas y numpy

In [41]:
import pandas as pd
import numpy as np

### Error 4

In [42]:
"Ornitorrinco" + 45

TypeError: can only concatenate str (not "int") to str

#### Una solución sería transformar el int a string

In [43]:
"Ornitorrinco" + str(45)

'Ornitorrinco45'

# Desafio 5

In [49]:
import pandas as pd
import numpy as np

mensaje = pd.read_csv("flights.csv")
print(mensaje.head(5))
print(mensaje.tail(5))

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121
     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [51]:
mensaje["year"].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [52]:
mensaje["month"].value_counts()

June         12
January      12
February     12
November     12
July         12
April        12
August       12
October      12
December     12
May          12
March        12
September    12
Name: month, dtype: int64

In [53]:
mensaje["year"].value_counts()

1949    12
1950    12
1951    12
1952    12
1953    12
1954    12
1955    12
1956    12
1957    12
1958    12
1959    12
1960    12
Name: year, dtype: int64

In [54]:
variables=mensaje.head(15)
variables.append(mensaje.tail(15))

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
5    1949       June         135
6    1949       July         148
7    1949     August         148
8    1949  September         136
9    1949    October         119
10   1949   November         104
11   1949   December         118
12   1950    January         115
13   1950   February         126
14   1950      March         141
129  1959    October         407
130  1959   November         362
131  1959   December         405
132  1960    January         417
133  1960   February         391
134  1960      March         419
135  1960      April         461
136  1960        May         472
137  1960       June         535
138  1960       July         622
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

#### Media

In [56]:
np.mean(mensaje["passengers"])

280.2986111111111

#### Mediana

In [57]:
np.median(mensaje["passengers"])

265.5

#### Desviación estándar

In [58]:
np.std(mensaje["passengers"])

119.54904153277148

#### Media 30 pasajeros

In [59]:
np.mean(variables["passengers"])

126.8

#### Mediana 30 pasajeros

In [60]:
np.median(variables["passengers"])

126.0

#### Desviación estándar 30 pasajeros

In [61]:
np.std(variables["passengers"])

12.681745410891462

##### Los resultados iniciales con la muestra completa es bastante diferente a la muestra de las primera y ultimas 15. Por teoría la muestra completa es más precisa