# Desafio 1

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
import scipy.stats as stats
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

df = pd.read_csv("boston.csv")
df=df.drop(['Unnamed: 0'], axis=1)

df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [13]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

# Desafio 2

In [24]:
y_vec=df.loc[:,'crim']
X_mat=df.loc[:,'rm':'lstat']
X_train, X_test, y_train, y_test =train_test_split(X_mat, y_vec,test_size=.33, random_state=11238)

# Desafio 3

In [42]:
model_1=LinearRegression(fit_intercept=True,normalize=True)
model_2=LinearRegression(fit_intercept=True,normalize=False)

model_1.fit(X_train, y_train)
model_2.fit(X_train, y_train)

model_1_yhat=model_1.predict(X_test)
model_2_yhat=model_2.predict(X_test)

# Desafio 4

In [302]:
def report_scores(pre,val):
    print('Error cuadratico=',mean_squared_error(val,pre))
    print('r2=',r2_score(val, pre))
    
report_scores(model_1_yhat, y_test)

Error cuadratico= 53.3587925400179
r2= 0.31768949724857354

In [303]:
report_scores(model_2_yhat, y_test)

Error cuadratico= 53.358792540017895
r2= 0.31768949724857376

en base al r2, entre los dos es mejor el modelo 2

# Desafio 5

In [362]:
def fetch_features(df, medv):
    bd=df.drop(['crim'], axis=1)
    corr=[]
    for i,n in enumerate(bd):
        corr.append(df[n].corr(df['crim']))
        if i+1==bd.shape[1]:
            break
        X_mat=df.loc[:,bd.columns.values[i]:bd.columns.values[i+1]]
        print('crim ~',bd.columns.values[i],':',bd.columns.values[i+1])
        X_train, X_test, y_train, y_test =train_test_split(X_mat, medv,test_size=.33, random_state=11238)
        print('Corr=',df[n].corr(df['crim']))
        print('\n')
        
    return corr

In [363]:
sorted(fetch_features(df,y_vec),reverse=True)

crim ~ zn : indus
Corr= -0.20046921966254752


crim ~ indus : chas
Corr= 0.4065834114062594


crim ~ chas : nox
Corr= -0.055891582222241463


crim ~ nox : rm
Corr= 0.4209717113924562


crim ~ rm : age
Corr= -0.21924670286251396


crim ~ age : dis
Corr= 0.3527342509013639


crim ~ dis : rad
Corr= -0.37967008695102455


crim ~ rad : tax
Corr= 0.6255051452626016


crim ~ tax : ptratio
Corr= 0.5827643120325849


crim ~ ptratio : black
Corr= 0.28994557927952014


crim ~ black : lstat
Corr= -0.38506394199422395


crim ~ lstat : medv
Corr= 0.4556214794479462

[0.6255051452626016,
 0.5827643120325849,
 0.4556214794479462,
 0.4209717113924562,
 0.4065834114062594,
 0.3527342509013639,
 0.28994557927952014,
 -0.055891582222241463,
 -0.20046921966254752,
 -0.21924670286251396,
 -0.37967008695102455,
 -0.38506394199422395,
 -0.3883046085868113]

crim ~ rad : tax
crim ~ tax : ptratio
crim ~ lstat : medv
crim ~ nox : rm
crim ~ indus : chas
crim ~ age : dis

# Desafio 6

In [361]:
def ref(df, medv, x1,x2):
    X_mat=df.loc[:,x1:x2]
    X_train, X_test, y_train, y_test =train_test_split(X_mat, medv,test_size=.33, random_state=11238)
    model=LinearRegression(fit_intercept=True,normalize=True)
    model.fit(X_train, y_train)
    model_yhat=model.predict(X_test)
    report_scores(model_yhat,y_test)
    
ref(df,y_vec,'rad','tax')

Error cuadratico= 53.99751335884928
r2= 0.3095220350128456

In [356]:
ref(df,y_vec,'tax','ptratio')

Error cuadratico= 56.8640637745154
r2= 0.2728668304594706

In [357]:
ref(df,y_vec,'lstat','medv')

Error cuadratico= 73.9887940122131
r2= 0.053889174823746555

In [358]:
ref(df,y_vec,'nox','rm')

Error cuadratico= 71.81007114784575
r2= 0.08174897865696917

In [359]:
ref(df,y_vec,'indus','chas')

Error cuadratico= 70.57480489002869
r2= 0.0975445973597524

In [360]:
ref(df,y_vec,'age','dis')

Error cuadratico= 68.69611913418981
r2= 0.12156776133253155